<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="">
    <section class="info">
        <p class="paragraph">Name: <%= fullName %>,</p>
        <p class="paragraph">Email: <%= email %>,</p>
        <p class="paragraph">Message: <%= message %>,</p>
    </section>
</body>

</html>